* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  background-color: #ededed;
  padding-top: 50px; }

.content {
  padding: 30px 15px;
  text-align: center;
}

.home {
  padding: 40px 15px;
  text-align: center;
}

#tweetBox {
  width: 50%;
}